@media print {
  /* Print-specific styling for your content */
  #header, #winner-announcement, #rounds-summary, #print-div {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  
  /* Ensuring no extra margin on the printed page */
  @page {
    margin: 0;
  }
    
  /* Make sure the print button doesn't show up when printing */
  #convertPdf, #exitBtn {
    display: none;
  }
    
  #chart-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 900px;  /* Adjust this value to the maximum desired width */
      margin-bottom: 3em;
  }

  canvas {
      width: 100% !important;
      height: auto !important;
  }
}
  